/* shared styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90h;
  padding: 20px;
  box-sizing: border-box; /* Include padding in height calculation */
  transition: all 1s ease; /* Smooth transition */
}

.container.results-displayed {
  height: auto;
  margin-top: 100px; /* Adjust to fit under the navbar */
  align-items: center;
}

.container.dim-background {
  background-color: rgba(0, 0, 0, 0.3); /* Slightly darker overlay */
  filter: brightness(0.8) saturate(0.5); /* Dim and reduce saturation */
}

/* the rest */
.create-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.add-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-recipe-form input,
.add-recipe-form button {
  padding: 10px;
  width: 100%;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
  width: 150%;
  max-width: 120px;
  margin-top: 30px;
}

.grid-item {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.grid-item button {
  margin-top: 0px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(71, 177, 71);
  color: white;
  cursor: pointer;
}

.grid-item button:hover {
  background-color: rgb(52, 147, 52);
}

/* Tablet and above */
@media (min-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop and above */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
